<div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-info text-white fw-bold">Citizen Responses</div>
    <div class="card-body">        
            <div class="mb-3">
                <h6 class="fw-bold">Additional Contact Info</h6>
                <p>{{ report.additional_contacts }}</p>
            </div>
        

        
            <div class="alert alert-success mt-3">
                <h6 class="fw-bold">Additional Information</h6>
                <p>{{ report.more_details|linebreaks }}</p>
            </div>
            
        

        {% if user.role == 'citizen' and report.status != 'closed' %}
            <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#additionalDetailsModal">
                <i class="bi bi-plus-circle"></i> Add More Details
            </button>
        {% endif %}
    </div>
</div>
