<div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-info text-white fw-bold">Reporter Responses</div>
    <div class="card-body">        
                
            <div class="alert alert-success mt-3">
                <h6 class="fw-bold">Additional Information</h6>
                <p>{{ report.more_details|linebreaks |default:"N/A" }}</p>
            </div>
            
        

        {% if user.role == 'citizen' and report.status != 'closed' %}
            <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#additionalDetailsModal" {% if report.status == 'closed' or report.status == 'resolved' %}disabled="disabled"{% endif %}>
                <i class="bi bi-plus-circle"></i> Add More Details
            </button>
        {% endif %}
    </div>
</div>
