<!-- Modal -->
<div class="modal fade" id="addSuspectModal" tabindex="-1" aria-labelledby="addSuspectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="POST" action="{% url 'add_suspect' report.pk %}">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Suspect</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          {{ suspect_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
